* {
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
a{
    color:black;
    font-weight:550;
    text-decoration: none;   
}
header{
    height: 60px;
    background-color: palevioletred;
    text-align: center;
}
.NavBar{
    padding-top: 18px;
}
#navbar-title{
    color:white;
    font-size:25px;
}
.Items{
    padding-top: 15px;
    padding-bottom:15px;
}
#item-table{
    width:100%;
    text-align: center;
}
.Item-img{
    height:64px;
}
.Item-tag{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.Item-tag:hover{
    background-color: pink;
}
.Shopping-container{
    background-color:pink;
    text-align: center;
    padding-bottom:30px;
}
#shopping-time-img{
    margin-top:30px;
    width:90vw;
    height:60vh;
    
}
.Sales-table{
    width: 90vw;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px;
}
.Sales-table-head{
    background-color: beige;
}
.Information{
    width: 92vw;
    margin: 20px;
    font-size: 20px;
    color:#503c4e;
    list-style-position: inside;
    
}
footer{
    height: 50px;
    padding-top: 28px;
    background-color: rgb(0, 0, 0);
    color:white;
    text-align: center;
}
